<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="blueprint.com.sage" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <!-- Maps -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait">

        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name=".signIn.SignInActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name=".signUp.SignUpActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name=".signUp.UnverifiedActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name=".checkIn.CheckInActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".admin.browse.BrowseUsersActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name=".admin.browse.BrowseSchoolsActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".admin.requests.CheckInRequestsActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".admin.requests.SignUpRequestsActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".users.profile.EditUserActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".admin.semester.CreateSemesterActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".admin.semester.FinishSemesterActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".admin.semester.SemesterListActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".users.info.UserSemesterListActivity"
            android:launchMode="singleTop" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="54afb894a34a5e0e989e1cedb236dc72cd0acd8d" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map"/>
    </application>
</manifest>
